body{
	margin: 0;
	padding: 0;
	background: url(img/tacos.jpg) no-repeat ;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #b80f22;
}

.reservas {
	width: 400px;
	height: 450px;
	background: black;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}




.boton  {
	padding: 0px;
	font-weight: 150px;
	color: #fff;
	background-color: #b80f22;
	border-bottom: 10px;
	border-radius: 5px;
	border: 100px;
	text-decoration: none;
	font-family: sans-serif;

}

.reservas .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top:-50px;
	left: 160px;
	

}
